@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.rainbow::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, left top, left bottom, from(#fbb300), to(#fbb300)), -webkit-gradient(linear, left top, left bottom, from(#d53e33), to(#d53e33)), -webkit-gradient(linear, left top, left bottom, from(#377af5), to(#377af5));
  background-image: linear-gradient(#000000, #000000), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
}

.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}

.titoloEc h4 {
  color: white;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}

.titoloEc h4 span {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  display: inline-block;
}

.titoloEc h4 span:first-child {
  -webkit-animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.titoloEc h4 span:last-child {
  -webkit-animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
          animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@-webkit-keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bop {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}

@keyframes bopB {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80%,
  100% {
    -webkit-transform: scale(1) rotateZ(-3deg);
            transform: scale(1) rotateZ(-3deg);
  }
}

.banner {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 37.5vmin;
  min-height: 15em;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(transparent), to(#000)), var(--img) 50%/cover;
  background: linear-gradient(#000, transparent, #000), var(--img) 50%/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.banner:nth-of-type(1) {
  --img: url(https://images.unsplash.com/photo-1509456592530-5d38e33f3fdd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.banner2 {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 37.5vmin;
  min-height: 15em;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(transparent), to(#000)), var(--img) 50%/cover;
  background: linear-gradient(#000, transparent, #000), var(--img) 50%/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.banner2:nth-of-type(1) {
  --img: url(https://c.tenor.com/gySvqBfzkkoAAAAd/narcos-narcos-gif.gif);
}

.banner3 {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 37.5vmin;
  min-height: 15em;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(transparent), to(#000)), var(--img) 50%/cover;
  background: linear-gradient(#000, transparent, #000), var(--img) 50%/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.banner3:nth-of-type(1) {
  --img: url(https://imagesawe.s3.amazonaws.com/articles/2021/03/relationship_tips.jpg);
}

.banner4 {
  margin-left: calc(50% - 50vw);
  width: 100vw;
  height: 37.5vmin;
  min-height: 15em;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(transparent), to(#000)), var(--img) 50%/cover;
  background: linear-gradient(#000, transparent, #000), var(--img) 50%/cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.banner4:nth-of-type(1) {
  --img: url(https://formiche.net/wp-content/blogs.dir/10051/files/2017/09/John-Maynard-Keynes.jpg);
}

.banner4:nth-of-type(2) {
  --img: url(https://pbs.twimg.com/media/EapehZHUcAAcFMR.jpg);
}
/*# sourceMappingURL=styles.css.map */